.Test-box{
    width: auto;
    height: 700px;
    overflow: auto;
    /*background-color: #707070;*/
    margin-left: 2vw;
}

.Test-box h2{
    margin-top: 20px;
    margin-left: 33px;
}
.Test-card{
    display: flex;
    flex-flow: row wrap;
}
.Test-card >div{
    display: flex;
    margin-top: 20px;
}
